:host {
    display: block;
    padding: 0 1rem;
}

.demo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background: rgb(32, 32, 32);
    border-radius: .5rem;
    border: yellow 1px solid;
    position: relative;
}

.anchor {
    anchor-name: --anchor_element;
}

.anchored_element {
    position: absolute;
    position-anchor: --anchor_element;
    position-area: bottom;
    background-color: rgba(0, 0, 0);
}