.main_container {
    padding: 1.5rem;
    margin-block: 1.5rem;
    border-radius: .5rem;
    background-color: black;
}

.tabs {
    display: grid;
    grid-auto-flow: column;
    gap: .5rem;
}


.options {
    display: flex;
    justify-content: end;
    margin-top: 1rem;

    dialog {
        bottom: 1.5rem;
        padding: .5rem 1rem;
        border-radius: .5rem;
        background-color: yellow;
        color: black;
        font-weight: bold;
    }
}

.code {
    display: flex;
    justify-content: space-between;
    align-items: start;

    pre {
        margin-bottom: 0;
    }
}