@if(html() || css() || js()) {
<section class="main_container">
    <section class="tabs">
        @if(html()) {
        <button comunaMainButton (click)="selectedTab.set('html')" [ngClass]="{'--selected': selectedTab() === 'html'}">
            HTML
        </button>
        }
        @if(css()) {
        <button comunaMainButton (click)="selectedTab.set('css')" [ngClass]="{'--selected': selectedTab() === 'css'}">
            CSS
        </button>
        }
        @if(js()) {
        <button comunaMainButton (click)="selectedTab.set('js')" [ngClass]="{'--selected': selectedTab() === 'js'}">
            JS
        </button>
        }
    </section>
    <section class="code">
        <pre>
            <code>{{ tabContent() }}</code>
        </pre>
        <div class="options">
            <button comunaOutlineButton (click)="copyCodeToClipboard()">
                Copiar código
            </button>
            <dialog #feedbackDialog>
                {{ feedbackMessage() }}
            </dialog>
        </div>
    </section>
</section>
}