mat-toolbar {
    display: flex;
    justify-content: space-between;
}

main {
    display: grid;
    grid-template-columns: minmax(auto, 1072px);
    justify-content: center;
    padding-inline: 1.5rem;
}

.home_button {
    font-size: 22px;
}

@media (min-width: 600px) {
    main {
        padding-top: 64px;
    }
}