dialog {
    width: 100%;
    max-width: 1270px;
    border-radius: 1rem;

    &::backdrop {
        background-color: rgba(0, 0, 0, .5);
    }

    header {
        display: flex;
        justify-content: space-between;

        button {
            border: none;
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            cursor: pointer;
            padding: 0;
        }
    }
}