<h1>
    Accordion
</h1>
<section>
    <h2>
        Showcase
    </h2>
    <details name="accordion">
        <summary>
            Accordion 1
        </summary>
        <p>
            Isso é um accordion 😎
        </p>
    </details>
    <details name="accordion">
        <summary>
            Accordion 2
        </summary>
        <p>
            Ele é muito usado em FAQs
        </p>
    </details>
    <details name="accordion">
        <summary>
            Accordion 3
        </summary>
        <p>
            Quando um abre, o aberto fecha
        </p>
    </details>
    <details name="accordion">
        <summary>
            Accordion 4
        </summary>
        <p>
            Basta declarar todos os details com o mesmo "name"
        </p>
    </details>
</section>
<app-code-provider [code]="code()"></app-code-provider>
<app-useful-links-list [usefulLinksList]="usefulLinksList"></app-useful-links-list>