.hero {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        border: .5rem solid #FFFF00;
        border-radius: 50%;
    }
}

.components,
.concepts {
    padding: 4rem 1rem;
    background-color: rgb(32, 32, 32);
}