<main>
    <section class="hero">
        <img src="/assets/logo.png" alt="Logo" aria-hidden="true" height="300" width="300" class="logo">
        <h1>
            Comuna do Código
        </h1>
        <p>
            Código para todos, por todos.
        </p>
    </section>
    <section class="concepts">
        <h2>
            Conceitos
        </h2>
        <div class="sections">
            <button comunaOutlineButton [routerLink]="['dialog']">
                Dialog
            </button>
            <button comunaOutlineButton [routerLink]="['tooltip']">
                Tooltip
            </button>
            <button comunaOutlineButton [routerLink]="['accordion']">
                Accordion
            </button>
        </div>
    </section>
</main>