// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

:root {
  --mat-sys-primary: yellow;
  --mat-sys-outline: yellow;
}

html {
  @include mat.theme((color: (theme-type: dark,
        primary: mat.$red-palette,
        tertiary: mat.$yellow-palette,
      ),
      typography: monospace,
      density: 0,
    ));
  @include mat.toolbar-overrides((container-background-color: red,
      container-text-color: yellow));
  @include mat.tabs-overrides((background-color: rgb(32, 32, 32),
      active-label-text-color: yellow,
      active-focus-label-text-color: yellow,
      inactive-label-text-color: yellow,
      inactive-focus-label-text-color: yellow));
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: monospace, "Helvetica Neue", sans-serif;
  background-color: #0f0f0f;
  color: #ffff00;
}

::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FF0000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #ffc400;
  border: 2px solid #FF0000;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #FFFF00;
}

::-webkit-scrollbar-button {
  display: none;
}